@import "vars.less";
// Move all common detail styles to site.less

.set-container {
    padding-bottom: 4px;
}

.set-container:last-of-type {
    padding-bottom: 0;
}

.set-details {
    color: @color-darker;
    background-color: @color-med;
    padding: 5px 0;
}

.set-vs {
    color: @color-darker;
    font-size: 1.5rem;
    flex-grow: 1;
}

.set-names {
    display: flex;
    justify-content: space-between;
}

.btn-set {
    color: white;
    margin-top: -1.5rem;
}

.btn-fight {
    color: #ffb;
    background-color: @color-accent;
}

.btn-edit {
    background-color: royalblue;
}

.btn-neutral {
    background-color: @color-darker;
}

.btn-fight:hover {
    color: white;
}

.btn-fight:active {
    color: black;
}

.background-dark {
    background-color: @color-light;
}