@import "vars.less";

html {
    position: relative;
    min-height: 100%;
}

body {
    min-width: 300px;
    margin-bottom: 150px;
    color: @color-text;
    overflow-y: scroll;
}

.h1 {
    font-size: 2em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: @color-dark;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.25);
}

a {
    color: @color-link;
}

a:hover {
    color: @color-link;
}

a:active {
    color: @color-link-active;
}

.btn-cstm-primary {
    color: white;
    font-weight: 500;
    background-color: #ff6400;
}

.btn-cstm-primary:hover {
    color: white;
    background-color: #ffaf00;
}

.btn-cstm-primary:active {
    color: white;
    background-color: #d64000;
}

.btn-cstm-secondary {
    color: #ff6400;
    font-weight: 500;
    border: 2px solid #ff9632;
}

.btn-cstm-secondary:hover {
    color: #ffaf00;
    font-weight: 500;
    border: 2px solid #ffaf00;
}

.btn-cstm-secondary:active {
    color: #d64000;
    font-weight: 500;
    border: 2px solid #d64000;
}

.text-darker {
    color: @color-darker;
}

.text-dark-custom {
    color: @color-dark;
}

.w-33 {
    width: 33%
}

.w-40 {
    width: 40%;
}

.monospace {
    font-family: @monospace;
}

#home-header {
    background-color: @color-dark;
    padding: 25px 0;
    border-radius: 3px;
}

.page-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-section-child {
    background-color: @color-dark;
    padding: 25px 0;
    border-radius: 3px;
    margin: 0;
}

.page-section-child {
    width: 350px;
}

.page-section-content {
    border-bottom: 1px solid @color-darker;
    border-top: 1px solid @color-darker;
}

.hidden {
    opacity: 0;
}

.home-menu {
    background-color: @color-darker;
    border-top: 1px solid @color-darkest;
}

.home-menu a, .home-menu .dropdown a {
    color: white;
    border-right: 1px solid @color-dark;
    flex-grow: 1;
    padding: 5px 0;
}

.home-menu a:last-of-type {
    border-right: none;
}

.home-menu a:hover {
    color: @color-link;
    background-color: @color-darkest;
}

.home-menu .active {
    background-color: @color-accent;
}

.body-temp {
    width: 100%;
    height: 500px;
    background-color: @color-med;
    margin-top: 50px;
}

.section-divider {
    border-bottom: 1px solid @color-darker;
}

.section-divider h5 {
    padding: 0.5em;
    margin: 0;
}

.list-group.list-group-horizontal {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
}

.list-group.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-right: 0;
    border-right-width: 0;
}

.list-group.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}

.list-group.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-right-width: 1px;
}

.filtered {
    display: none !important;
}