@using Climb.Services
@using Climb.ViewModels.Seasons
@using Climb.ViewModels.Sets
@model Climb.ViewModels.Seasons.HomeViewModel
@inject ICdnService cdnService

@{
    ViewBag.Title = "Season-Home";
    Layout = "_SeasonsLayout";
}

@section SeasonsBody
{
    <!-- Columns -->
    <div class="row">
        <!-- Participants -->
        <div class="col-xl-6 page-section pb-2 mt-4">
            <h3>Participants</h3>
            <div class="page-section-child">
                <div class="page-section-content">
                    @if(Model.Participants.Any())
                    {
                        foreach(var participant in Model.Participants)
                        {
                            //To Do: style Season Participant partial like league member partial
                            <partial name="./Partials/SeasonParticipant" model="@SeasonParticipantViewModel.Create(participant, cdnService)"/>
                        }
                    }
                    else
                    {
                        <div class="text-darker">
                            <em>No participants</em>
                        </div>
                    }

                </div>
            </div>
        </div>

        <!-- Sets -->
        <div class="col-xl-6 page-section pb-2 mt-4">
            <h3>Sets</h3>
            <div class="page-section-child">
                <div class="page-section-content">
                    @if(Model.Season.Sets.Count > 0)
                    {
                        foreach(var set in Model.AvailableSets)
                        {
                            //To Do Style set details
                            <partial name="../Set/Partials/Details" model="@DetailsViewModel.Create(Model.User, set, cdnService)"/>
                        }
                    }
                </div>
            </div>
        </div>
    </div>}