@using Climb.Services
@using Climb.Services.ModelServices
@using Climb.ViewModels.Seasons
@using DetailsViewModel = Climb.ViewModels.Sets.DetailsViewModel
@model HomeViewModel
@inject ICdnService cdnService
@inject ILeagueService leagueService

@{
    ViewBag.Page = "Home";
    Layout = "_SeasonsLayout";
}

@section Scripts
{
    <script src="~/dist/scripts/Seasons/Home.js" type="module"></script>
}

@section SeasonsBody
{
    <!--Description-->
    <div id="description" class="alert alert-info alert-dismissible fade show mt-4 text-left" role="alert" hidden>
        <ul>
            <li>
                Season Standings are determined by Points won from playing sets and your Tie Breaker Score calculated from a variety of sources.
            </li>
            <li>
                You get 2 points for Winning a set and 1 point for Losing a set.
            </li>
            <li>
                Your Season Standing will be your Seed in the Tournament at the end of the Season.
            </li>
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!--Filter-->
    <partial name="FilterBar"/>

    <!-- Columns -->
    <div class="row">
        <!-- Participants -->
        <div class="col-xl-4 page-section mt-4">
            <h3>Participants</h3>
            <div class="page-section-content">
                @if(Model.Participants.Any())
                {
                    foreach(var participant in Model.Participants)
                    {
                        //To Do: style Season Participant partial like league member partial
                        <partial name="./Partials/SeasonParticipant" model="@await SeasonParticipantViewModel.Create(participant, cdnService, leagueService)"/>
                    }
                }
                else
                {
                    <div class="text-darker">
                        <em>No participants</em>
                    </div>
                }
            </div>
        </div>

        <!-- Activity -->
        <div class="col-xl-4 page-section mt-4">
            <h3>Activity</h3>
            <div class="page-section-content">
                @if(Model.RecentSets.Count == 0)
                {
                    <div class="text-darker">
                        <em> No recent activity</em>
                    </div>
                }
                else
                {
                    foreach(var set in Model.RecentSets)
                    {
                        <partial name="../Set/Partials/Details" model="@DetailsViewModel.Create(Model.User, set, cdnService)"/>
                    }
                }
            </div>
        </div>

        <!-- Sets -->
        <div class="col-xl-4 page-section mt-4">
            <h3>Sets</h3>
            <div class="page-section-content">
                @if(Model.Season.Sets.Count > 0)
                {
                    foreach(var set in Model.AvailableSets)
                    {
                        //To Do Style set details
                        <partial name="../Set/Partials/Details" model="@DetailsViewModel.Create(Model.User, set, cdnService)"/>
                    }
                }
            </div>
        </div>
    </div>}