@using Climb.Services
@model Climb.ViewModels.Seasons.ManageViewModel
@inject ICdnService cdnService

@{
    ViewBag.Page = "Manage";
    Layout = "_SeasonsLayout";
}

@section Scripts
{
    <script src="~/dist/scripts/Seasons/Manage.js" type="module"></script>
}

@section SeasonsBody
{
    @if(Model.CanStartSeason)
    {
        <form asp-controller="Season" asp-action="Start">
            <input type="hidden" name="SeasonID" value="@Model.Season.ID"/>
            <button class="btn btn-primary">Start Season</button>
        </form>
    }

    <h3>Create Tournament</h3>
    <div>
        <input id="tournament-league-id" type="hidden" value="@Model.Season.LeagueID"/>
        <input id="tournament-season-id" type="hidden" value="@Model.Season.ID"/>
        <input id="tournament-name" type="text"/>
        <button id="tournament-button" class="btn btn-primary">Create</button>
    </div>
}