@using Climb.Services
@model Climb.ViewModels.Seasons.MembershipViewModel
@inject ICdnService cdnService

@{
    ViewBag.Title = "Leagues-Home";
    Layout = "_SeasonsLayout";
}

@section SeasonsBody
{
    <div class="d-flex justify-content-center align-items-center body-temp">
        @if(Model.CanLeave)
        {
            <button id="leave-season-button" class="btn btn-danger" data-participantID="@Model.Participant.ID">Leave</button>
        }

        @if(Model.CanJoin)
        {
            <form asp-action="JoinPost" asp-route-userid="@Model.User.Id" asp-route-seasonid="@Model.Season.ID">
                <button class="btn btn-danger">Join</button>
            </form>
        }
    </div>
}