@import "../vars.less";

.leagueuser-container, .seasonparticipant-container {
    background-color: @color-almostwhite;
}

.leagueuser-details {
    border-bottom: 1px solid @color-dark;
}

.points-text, .rank-text, 
.points-text-small, .rank-text-small {
    font-family: 'Roboto Mono';
}

.rank-text {
    font-size: 1.5rem;
    min-width: 29px;
    display: flex;
    justify-content: flex-end;
}

.points-text, .rank-text-small {
    font-size: 1.25rem;
}

.points-text, .points-text-small {
    color: #AAA;
}

.seasonparticipant-container {
    border-bottom: 1px solid @color-lighter;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 6px;
}

.seasonparticipant-container:first-of-type {
    margin-top: 0;
}

.participant-details {
    background-color: @color-lighter;
}

.fa-arrow-down.rank-trend {
    color: red;
}

.fa-arrow-up.rank-trend {
    color: green;
}

.cstm-card {
    border-radius: 3px;
    border: none;
    background-color: white;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 6px;
}

.cstm-card:first-of-type {
    margin-top: 0;
}