@using Climb.Services
@model Climb.ViewModels.Leagues.DataViewModel
@inject ICdnService cdnService

@{
    ViewBag.Title = "Leagues-Home";
    Layout = "_LeaguesLayout";
}

@section LeaguesBody
{
    <div class="d-flex justify-content-center align-items-center body-temp">
        <p>Data</p>
    </div>
}