@using Climb.Services
@using Climb.Services.ModelServices
@using Climb.ViewModels.Leagues
@model HomeViewModel
@inject ICdnService cdnService
@inject ILeagueService leagueService

@{
    ViewBag.Title = "Leagues-Home";
    Layout = "_LeaguesLayout";
}

@section LeaguesBody
    {
    <!-- Columns -->
    <div class="row">
        <!-- Members -->
        <div class="col-xl-4 page-section pb-2 mt-4">
            <h3>Members</h3>
            <div class="page-section-child">
                @if (Model.Members.Count + Model.Newcomers.Count > 0)
                {
                    <div class="page-section-content">
                        @foreach (var member in Model.Members)
                        {
                            <partial name="./Partials/LeagueUser" model="@await LeagueUserViewModel.Create(member, cdnService, true, Url, leagueService)" />
                        }
                        @if (Model.Newcomers.Count > 0)
                        {
                            <div class="section-divider">
                                <h5>Newcomers</h5>
                            </div>

                            foreach (var newcomer in Model.Newcomers)
                            {
                                <partial name="./Partials/LeagueUser" model="@await LeagueUserViewModel.Create(newcomer, cdnService, true, Url, leagueService)" />
                            }
                        }
                    </div>
                }
                else
                {
                    <div class="text-darker">
                        <em>No members</em>
                    </div>
                }
            </div>
        </div>
        <!-- Activity -->
        <div class="col-xl-4 page-section pb-2 mt-4">
            <h3>Activity</h3>
            <div class="page-section-child">
                @*@if (Model.RecentSets.Count == 0)
                    {*@
                <div class="text-darker">
                    <em> No recent activity</em>
                </div>
                @*}
                    else
                    {
                        foreach (var set in Model.RecentSets)
                        {
                            <div>@set.ID</div>
                        }
                    }*@
            </div>

        </div>

        <!-- Sets -->
        <div class="col-xl-4 page-section pb-2 mt-4">
            <h3>Sets</h3>
            <div class="page-section-child">
                @*@foreach (var set in Model.AvailableSets)
                    {
                        <partial name="../Set/Partials/Details" model="@DetailsViewModel.Create(Model.User, set, cdnService)" />
                    }*@
                <div class="text-darker">
                    <em> No recent activity</em>
                </div>
            </div>
        </div>
    </div>
}
