@using Climb.Services
@model Climb.ViewModels.Leagues.ManageViewModel
@inject ICdnService cdnService

@{
    ViewBag.Page = "Manage";
    Layout = "_LeaguesLayout";
}

@section Scripts
{
    <script type="module" src="~/dist/scripts/Leagues-Manage.js"></script>
}

@section LeaguesBody
{
    <div class="d-flex flex-column justify-content-center align-items-center body-temp">
        @if(Model.CanStartSeason)
        {
            if(Model.League.ActiveSeasonID != null)
            {
                <button id="end-season-button" class="btn btn-cstm-secondary mb-5" data-seasonID="@Model.League.ActiveSeasonID">End Current Season</button>
            }

            <form class="form" asp-controller="Season" asp-action="Create" method="post">
                <h3>Create New Season</h3>
                <!--League ID-->
                <input asp-for="Request.LeagueID" value="@Model.League.ID"/>
                <!--Start Date-->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-left">Start</label>
                    <input asp-for="Request.StartDate" class="form-control col-md-9" autofocus>
                    <span asp-validation-for="Request.StartDate" class="text-danger"></span>
                </div>
                <!--End Date-->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-left">End</label>
                    <input asp-for="Request.EndDate" class="form-control col-md-9" autofocus>
                    <span asp-validation-for="Request.EndDate" class="text-danger"></span>
                </div>
                <button class="btn btn-cstm-primary">Create Season</button>
            </form>
        }
    </div>
}