@using Climb.Services
@model Climb.ViewModels.Leagues.ManageViewModel
@inject ICdnService cdnService

@{
    ViewBag.Page = "Manage";
    Layout = "_LeaguesLayout";
}

@section Scripts
{
    <script type="module" src="~/dist/scripts/Leagues-Manage.js"></script>
}

@section LeaguesBody
{
    <div class="d-flex flex-column justify-content-center align-items-center body-temp">
        @if(Model.CanStartSeason)
        {
            if(Model.League.ActiveSeasonID != null)
            {
                <button id="end-season-button" class="btn btn-cstm-secondary mb-5" data-seasonID="@Model.League.ActiveSeasonID">End Current Season</button>
            }

            <form asp-controller="Season" asp-action="Create">
                <input type="hidden" name="LeagueID" value="@Model.League.ID"/>
                <input type="date" name="StartDate"/>
                <input type="date" name="EndDate"/>
                <button class="btn btn-cstm-primary">Create Season</button>
            </form>
        }
    </div>
}