@using Climb.Services
@model Climb.ViewModels.Leagues.MembershipViewModel
@inject ICdnService cdnService

@{
    ViewBag.Page = "Membership";
    Layout = "_LeaguesLayout";
}

@section Scripts
{
    <script type="module" src="~/dist/scripts/Leagues-Membership.js"></script>
}

@section LeaguesBody
{
    <div class="d-flex justify-content-center align-items-center body-temp">
        @if(Model.IsMember)
        {
            <button id="leave-league-button" class="btn btn-cstm-primary" data-leagueUserId="@Model.Member.ID">Leave</button>
        }
    </div>
}