@using Climb.Controllers
@model Climb.ViewModels.BaseViewModel

@{
    ViewBag.Title = "Forgot Password";
}

@if (ViewData.ContainsKey(AccountController.EmailKey))
{
    <p>Email has been sent to @ViewData[AccountController.EmailKey]</p>
}
else
{
    <div class="container mt-4">
        <form class="form" asp-action="ForgotPasswordPost">
            <img class="mb-4" src="~/images/logo/logo-128x128.png" width="128" height="128">
            <h1 class="h3 mb-3 font-weight-normal">Forgot Password</h1>
            <div class="form-group row">
                <label for="email" class="col-md-3 col-form-label text-left">Email</label>
                <input id="email" class="form-control col-md-9" name="email" type="email" placeholder="Email Address" />
            </div>
            <button class="btn btn-set btn-lg btn-edit btn-block my-4 mx-auto" type="submit">Send Recovery Email</button>
            <a asp-action="LogIn">Cancel</a>

        </form>
    </div>
}