@model Climb.ViewModels.BaseViewModel

@{
    ViewBag.Title = "Reset Password";
}

<div class="container mt-4 col-12">
    <form class="form" asp-action="ResetPasswordPost">
        <img class="mb-4" src="~/images/logo/logo-128x128.png" alt="" width="128" height="128">
        <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
        <input class="form-control" type="hidden" name="userID" value="@ViewData["User"]" />
        <input class="form-control" type="hidden" name="code" value="@ViewData["Code"]" />
        <div class="form-group row">
            <label for="password" class="col-md-3 col-form-label text-left">New Password</label>
            <input id="password" class="form-control col-md-9" type="password" name="password" placeholder="Password" />
        </div>
        <div class="form-group row">
            <label for="confirm" class="col-md-3 col-form-label text-left">Confirm Password</label>
            <input id="confirm" class="form-control col-md-9" type="password" name="confirm" placeholder="Confirm Password" />
        </div>
        <button class="btn btn-cstm-primary my-4 mx-auto">Reset</button>
    </form>
</div>