@using Climb.ViewModels.Tournaments
@model GameViewModel

<div id="game-@Model.Identifier" data-parent="@Model.WinID"  class="game d-flex @(Model.IsBye ? "hidden" : "")">
    <div class="game-id">@Model.Identifier</div>
    <div class="game-container">
        <partial name="./GamePlayer.cshtml" model="@new GamePlayerViewModel(Model.Player1, Model.Player1?.Seed ?? 0, Model.P1GameID, Model.P1Score, Model.P1Score > Model.P2Score)" />
        <div class="game-player-border"></div>
        <partial name="./GamePlayer.cshtml" model="@new GamePlayerViewModel(Model.Player2, Model.Player2?.Seed ?? 0, Model.P2GameID, Model.P2Score, Model.P2Score > Model.P1Score)" />
    </div>
</div>