@using Climb.ViewModels.Tournaments
@model GameViewModel

<div id="game-@Model.Identifier" data-parent="@Model.WinID"  class="game d-flex@(Model.IsBye ? " hidden" : "")">
    <div class="game-id">
        @if (Model.SetID != null)
        {
            <a asp-controller="Set" asp-action="Fight" asp-route-setID="@Model.SetID">@Model.Identifier</a>
        }
        else
        {
            @Model.Identifier
        }
    </div>
    <div class="game-container">
        <partial name="./GamePlayer.cshtml" model="@new GamePlayerViewModel(Model.Player1, Model.P1GameID, Model.P1Score, Model.Winner == GameViewModel.Player.P1)" />
        <div class="game-player-border"></div>
        <partial name="./GamePlayer.cshtml" model="@new GamePlayerViewModel(Model.Player2, Model.P2GameID, Model.P2Score, Model.Winner == GameViewModel.Player.P2)" />
    </div>
</div>