@using Climb.ViewModels.Tournaments
@model Climb.Models.Round

<div class="round d-flex flex-column">
    <div class="round-name">@Model.Name</div>
    <div class="d-flex flex-column justify-content-around flex-grow-1">
        @foreach(var setSlot in Model.SetSlots)
        {
            <partial name="./Partials/Game" model="@GameViewModel.Create(setSlot)"/>
        }
    </div>
</div>